onvif-ws-client/src/main/resources/wsdl/local/www.onvif.org/ver10/schema/common.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--W3C XML Schema generated by XMLSpy v2017 (x64) (http://www.altova.com)-->
<!--
Copyright (c) 2008-2021 by ONVIF: Open Network Video Interface Forum. All rights reserved.

Recipients of this document may copy, distribute, publish, or display this document so long as this copyright notice, license and disclaimer are retained with all copies of the document. No license is granted to modify this document.

THIS DOCUMENT IS PROVIDED "AS IS," AND THE CORPORATION AND ITS MEMBERS AND THEIR AFFILIATES, MAKE NO REPRESENTATIONS OR WARRANTIES, EXPRESS OR IMPLIED, INCLUDING BUT NOT LIMITED TO, WARRANTIES OF MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE, NON-INFRINGEMENT, OR TITLE; THAT THE CONTENTS OF THIS DOCUMENT ARE SUITABLE FOR ANY PURPOSE; OR THAT THE IMPLEMENTATION OF SUCH CONTENTS WILL NOT INFRINGE ANY PATENTS, COPYRIGHTS, TRADEMARKS OR OTHER RIGHTS.
IN NO EVENT WILL THE CORPORATION OR ITS MEMBERS OR THEIR AFFILIATES BE LIABLE FOR ANY DIRECT, INDIRECT, SPECIAL, INCIDENTAL, PUNITIVE OR CONSEQUENTIAL DAMAGES, ARISING OUT OF OR RELATING TO ANY USE OR DISTRIBUTION OF THIS DOCUMENT, WHETHER OR NOT (1) THE CORPORATION, MEMBERS OR THEIR AFFILIATES HAVE BEEN ADVISED OF THE POSSIBILITY OF SUCH DAMAGES, OR (2) SUCH DAMAGES WERE REASONABLY FORESEEABLE, AND ARISING OUT OF OR RELATING TO ANY USE OR DISTRIBUTION OF THIS DOCUMENT.  THE FOREGOING DISCLAIMER AND LIMITATION ON LIABILITY DO NOT APPLY TO, INVALIDATE, OR LIMIT REPRESENTATIONS AND WARRANTIES MADE BY THE MEMBERS AND THEIR RESPECTIVE AFFILIATES TO THE CORPORATION AND OTHER MEMBERS IN CERTAIN WRITTEN POLICIES OF THE CORPORATION.
-->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:tt="http://www.onvif.org/ver10/schema"
           targetNamespace="http://www.onvif.org/ver10/schema"
           elementFormDefault="qualified" version="21.12">
    <!--===============================-->
    <!--  Location/Orientation Types   -->
    <!--===============================-->
    <xs:complexType name="GeoLocation">
        <xs:sequence>
            <xs:any namespace="##any" processContents="lax" minOccurs="0"
                    maxOccurs="unbounded"/>   <!-- first ONVIF then Vendor -->
        </xs:sequence>
        <xs:attribute name="lon" type="xs:double">
            <xs:annotation>
                <xs:documentation>East west location as angle.</xs:documentation>
            </xs:annotation>
        </xs:attribute>
        <xs:attribute name="lat" type="xs:double">
            <xs:annotation>
                <xs:documentation>North south location as angle.</xs:documentation>
            </xs:annotation>
        </xs:attribute>
        <xs:attribute name="elevation" type="xs:float">
            <xs:annotation>
                <xs:documentation>Hight in meters above sea level.</xs:documentation>
            </xs:annotation>
        </xs:attribute>
        <xs:anyAttribute/>
    </xs:complexType>
    <!--===============================-->
    <xs:complexType name="GeoOrientation">
        <xs:sequence>
            <xs:any namespace="##any" processContents="lax" minOccurs="0"
                    maxOccurs="unbounded"/>   <!-- first ONVIF then Vendor -->
        </xs:sequence>
        <xs:attribute name="roll" type="xs:float">
            <xs:annotation>
                <xs:documentation>Rotation around the x axis.</xs:documentation>
            </xs:annotation>
        </xs:attribute>
        <xs:attribute name="pitch" type="xs:float">
            <xs:annotation>
                <xs:documentation>Rotation around the y axis.</xs:documentation>
            </xs:annotation>
        </xs:attribute>
        <xs:attribute name="yaw" type="xs:float">
            <xs:annotation>
                <xs:documentation>Rotation around the z axis.</xs:documentation>
            </xs:annotation>
        </xs:attribute>
        <xs:anyAttribute/>
    </xs:complexType>
    <!--===============================-->
    <xs:complexType name="LocalLocation">
        <xs:sequence>
            <xs:any namespace="##any" processContents="lax" minOccurs="0"
                    maxOccurs="unbounded"/>   <!-- first ONVIF then Vendor -->
        </xs:sequence>
        <xs:attribute name="x" type="xs:float">
            <xs:annotation>
                <xs:documentation>East west location as angle.</xs:documentation>
            </xs:annotation>
        </xs:attribute>
        <xs:attribute name="y" type="xs:float">
            <xs:annotation>
                <xs:documentation>North south location as angle.</xs:documentation>
            </xs:annotation>
        </xs:attribute>
        <xs:attribute name="z" type="xs:float">
            <xs:annotation>
                <xs:documentation>Offset in meters from the sea level.</xs:documentation>
            </xs:annotation>
        </xs:attribute>
        <xs:anyAttribute/>
    </xs:complexType>
    <!--===============================-->
    <xs:complexType name="LocalOrientation">
        <xs:sequence>
            <xs:any namespace="##any" processContents="lax" minOccurs="0"
                    maxOccurs="unbounded"/>   <!-- first ONVIF then Vendor -->
        </xs:sequence>
        <xs:attribute name="pan" type="xs:float">
            <xs:annotation>
                <xs:documentation>Rotation around the y axis.</xs:documentation>
            </xs:annotation>
        </xs:attribute>
        <xs:attribute name="tilt" type="xs:float">
            <xs:annotation>
                <xs:documentation>Rotation around the z axis.</xs:documentation>
            </xs:annotation>
        </xs:attribute>
        <xs:attribute name="roll" type="xs:float">
            <xs:annotation>
                <xs:documentation>Rotation around the x axis.</xs:documentation>
            </xs:annotation>
        </xs:attribute>
        <xs:anyAttribute/>
    </xs:complexType>
    <!--===============================-->
    <xs:simpleType name="Entity">
        <xs:restriction base="xs:string">
            <xs:enumeration value="Device"/>
            <xs:enumeration value="VideoSource"/>
            <xs:enumeration value="AudioSource"/>
        </xs:restriction>
    </xs:simpleType>
    <!--&lt;!&ndash;===============================&ndash;&gt;
    <xs:complexType name="PTZVector">
        <xs:sequence>
            <xs:element name="PanTilt" type="tt:Vector2D" minOccurs="0">
                <xs:annotation>
                    <xs:documentation>Pan and tilt position. The x component corresponds to pan and the y component to
                        tilt.
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="Zoom" type="tt:Vector1D" minOccurs="0">
                <xs:annotation>
                    <xs:documentation>
                        A zoom position.
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>-->
    <!--===============================-->
    <!--<xs:complexType name="PTZStatus">
        <xs:sequence>
            <xs:element name="Position" type="tt:PTZVector" minOccurs="0">
                <xs:annotation>
                    <xs:documentation>
                        Specifies the absolute position of the PTZ unit together with the Space references. The default
                        absolute spaces of the corresponding PTZ configuration MUST be referenced within the Position
                        element.
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="MoveStatus" type="tt:PTZMoveStatus" minOccurs="0">
                <xs:annotation>
                    <xs:documentation>
                        Indicates if the Pan/Tilt/Zoom device unit is currently moving, idle or in an unknown state.
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="Error" type="xs:string" minOccurs="0">
                <xs:annotation>
                    <xs:documentation>
                        States a current PTZ error.
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="UtcTime" type="xs:dateTime">
                <xs:annotation>
                    <xs:documentation>
                        Specifies the UTC time when this status was generated.
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:any namespace="##any" processContents="lax" minOccurs="0"
                    maxOccurs="unbounded"/>    &lt;!&ndash; first Vendor then ONVIF &ndash;&gt;
        </xs:sequence>
        <xs:anyAttribute processContents="lax"/>
    </xs:complexType>
    &lt;!&ndash;===============================&ndash;&gt;
    <xs:complexType name="PTZMoveStatus">
        <xs:sequence>
            <xs:element name="PanTilt" type="tt:MoveStatus" minOccurs="0">
                <xs:annotation>
                    <xs:documentation>
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="Zoom" type="tt:MoveStatus" minOccurs="0">
                <xs:annotation>
                    <xs:documentation>
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>-->
    <!--===============================-->
    <xs:complexType name="LocationEntity">
        <xs:sequence>
            <xs:element name="GeoLocation" type="tt:GeoLocation" minOccurs="0">
                <xs:annotation>
                    <xs:documentation>Location on earth.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="GeoOrientation" type="tt:GeoOrientation" minOccurs="0">
                <xs:annotation>
                    <xs:documentation>Orientation relative to earth.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="LocalLocation" type="tt:LocalLocation" minOccurs="0">
                <xs:annotation>
                    <xs:documentation>Indoor location offset.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="LocalOrientation" type="tt:LocalOrientation" minOccurs="0">
                <xs:annotation>
                    <xs:documentation>Indoor orientation offset.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
        <xs:attribute name="Entity" type="xs:string">
            <xs:annotation>
                <xs:documentation>Entity type the entry refers to, use a value from the tt:Entity enumeration.
                </xs:documentation>
            </xs:annotation>
        </xs:attribute>
        <!--<xs:attribute name="Token" type="tt:ReferenceToken">
            <xs:annotation>
                <xs:documentation>Optional entity token.</xs:documentation>
            </xs:annotation>
        </xs:attribute>-->
        <xs:attribute name="Fixed" type="xs:boolean">
            <xs:annotation>
                <xs:documentation>If this value is true the entity cannot be deleted.</xs:documentation>
            </xs:annotation>
        </xs:attribute>
        <xs:attribute name="GeoSource" type="xs:anyURI">
            <xs:annotation>
                <xs:documentation>Optional reference to the XAddr of another devices DeviceManagement service.
                </xs:documentation>
            </xs:annotation>
        </xs:attribute>
        <xs:attribute name="AutoGeo" type="xs:boolean">
            <xs:annotation>
                <xs:documentation>If set the geo location is obtained internally.</xs:documentation>
            </xs:annotation>
        </xs:attribute>
    </xs:complexType>
    <!--===============================-->
</xs:schema>